dokumentacja_i_raport/Dokumentacja.zip
dokumentacja_i_raport/Raport.zip
dokumentacja_i_raport/Dokumentacja/bibliografia.bib
dokumentacja_i_raport/Dokumentacja/dokument.lol
dokumentacja_i_raport/Dokumentacja/dokument.pdf
dokumentacja_i_raport/Dokumentacja/dokument.tex
dokumentacja_i_raport/Dokumentacja/ExploreX_14_11_2023.pdf
dokumentacja_i_raport/Dokumentacja/ExploreX.pdf
dokumentacja_i_raport/Dokumentacja/preambula_pakiety.tex
dokumentacja_i_raport/Dokumentacja/preambula_ustawienia.tex
dokumentacja_i_raport/Dokumentacja/Raport_ExploreX.pdf
dokumentacja_i_raport/Dokumentacja/strona_tytulowa.sty
dokumentacja_i_raport/Dokumentacja/kod/main.cpp
dokumentacja_i_raport/Dokumentacja/rys/ans.png
dokumentacja_i_raport/Dokumentacja/rys/mapy.jpg
dokumentacja_i_raport/Dokumentacja/rys/Thumbs.db
dokumentacja_i_raport/Dokumentacja/rys/ustawienie.png
dokumentacja_i_raport/Dokumentacja/tex/rozdzial1.tex
dokumentacja_i_raport/Dokumentacja/tex/rozdzial2.tex
dokumentacja_i_raport/Dokumentacja/tex/rozdzial3.tex
dokumentacja_i_raport/Dokumentacja/tex/rozdzial4.tex
dokumentacja_i_raport/Dokumentacja/tex/rozdzial5.tex
dokumentacja_i_raport/Dokumentacja/tex/rozdzial6.tex
dokumentacja_i_raport/Raport/document.pdf
dokumentacja_i_raport/Raport/document.tex
dokumentacja_i_raport/Raport/Raport_14_11_2023.pdf
dokumentacja_i_raport/Raport/Raport_31_10_2023.pdf
dokumentacja_i_raport/Raport/Raport_bad_ending_7_11_2023.pdf
dokumentacja_i_raport/Raport/Raport_good_ending_7_11_2023.pdf
